# Pandas

Sometimes when programming we need things that are quite complex and writing functions and programs to to so ourself would be very time consuming. Therefor we use libarys! There are many out there like Math who let us work with e, tau, sin and square root and others who for example let you play with coordinates, like Geopy.

But we won't talk about libaries for coordinates, but rather more about reading from files and struncturing data. Pandas is such a libary.

Their user guide can be found here: https://pandas.pydata.org/docs/user_guide/index.html#user-guide

## Intro
First we import Pandas before we can start using it! We can now structur our data as we want!

Pandas consist of two core components: Series and DataFrames. A Series is one row of some data, and a DataFrame is two or more Series put together. But first, let's look at a simple series.

**NB! Run the code below so we import Pandas to the notebook.**

In [5]:
import pandas as pd

d = ['a', 'b', 'c', 'd']
pd.Series(d)

0    a
1    b
2    c
3    d
dtype: object

**Looks like a speadsheet! Let's put two of them together in a 100 meter running training.**

In [22]:
running = {
    'Person 1': [12.4, 10.2, 11.7, 10.6], 
    'Person 2': [9.7, 11.2, 10.4, 9.4] # Add another person!
}

pd.DataFrame(running)

   Person 1  Person 2
0      12.4       9.7
1      10.2      11.2
2      11.7      10.4
3      10.6       9.4

**Looks even more like a spreadsheet! But now it looks like the first round was round 0, and not 1.**

In [27]:
running = pd.DataFrame(running, index=["Round 1", "Round 2", "Round 3", "Round 4"])
running

         Person 1  Person 2
Round 1      12.4       9.7
Round 2      10.2      11.2
Round 3      11.7      10.4
Round 4      10.6       9.4

**Looks much better! Now we can compare the two runners on each round!**

In [28]:
# We use .loc[], short for locate.
running.loc["Round 2"]

Person 1    10.2
Person 2    11.2
Name: Round 2, dtype: float64

## Write

Now, let's store our data in a csv file!

In [33]:
running.to_csv('Assignment4/running.csv')

# Let's check if it got stored! We'll talk more about reading later. You can also open the file itself.
running_data = pd.read_csv("Assignment4/running.csv")
running_data.head()

  Unnamed: 0  Person 1  Person 2
0    Round 1      12.4       9.7
1    Round 2      10.2      11.2
2    Round 3      11.7      10.4
3    Round 4      10.6       9.4

In [31]:
running_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
Unnamed: 0    4 non-null object
Person 1      4 non-null float64
Person 2      4 non-null float64
dtypes: float64(2), object(1)
memory usage: 224.0+ bytes