# Lists and loops

### Iterate through list

To iterate a list we use for-loops. There are to main ways of doing this:

1) For-loop with a range() and indexing.

In [1]:
my_list = [1,2,3,4,5]
length = len(my_list)
for i in range(length):
    print(my_list[i])

1
2
3
4
5

2) For-in-loop

In [2]:
my_list = [1,2,3,4,5]
for i in my_list:
    print(i)

1
2
3
4
5

These methods give the same output, but sometimes one is more usable than the other.

## Some simple tasks

**a)**

Make a list with all the numbers from 0 to 99.

**[0,1,2,3,4,...,98,99]**

In [3]:
# Write your code here

**b)**

Now add all the number in the list you just made together, if the number is dividable by 3 or dividable by 10. This should return 1953.

In [7]:
# Write your code here

**c)**

Now swap odd and even numbers in you list. The list should now look like this:
**[1,0,3,2,5,4,7,6,9,8, ... ,98]**.

In [9]:
# Write your code here

**d)**

Make a new list from and make the reverse of the list in **c**.

Should be this:
```python
[98, 99, 96, 97, 94, 95, 92, 93, 90, 91, 88, 89, 86, 87, 84, 85, 82, 83, 80, 81, 78, 79, 76, 77, 74, 75, 72, 73, 70, 71, 68, 69, 66, 67, 64, 65, 62, 63, 60, 61, 58, 59, 56, 57, 54, 55, 52, 53, 50, 51, 48, 49, 46, 47, 44, 45, 42, 43, 40, 41, 38, 39, 36, 37, 34, 35, 32, 33, 30, 31, 28, 29, 26, 27, 24, 25, 22, 23, 20, 21, 18, 19, 16, 17, 14, 15, 12, 13, 10, 11, 8, 9, 6, 7, 4, 5, 2, 3, 0, 1]
```

In [ ]:
# Write you code here